In [1]:
import numpy as np
import pandas as pd
import datetime

In [3]:
df=pd.read_excel('B:\GroundwaterRech\Rainfall1.xlsx')

In [4]:
df

,India_District_Boundary_Final,Unnamed: 1,X,Y,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,August_1986,July_1986,...,August_2018,July_2018,June_2018,October_2018,September_2018,August_2019,July_2019,June_2019,October_2019,September_2019
0,2,52,74.75,31.25,NaN,NaN,NaN,NaN,2.659911,4.456076,...,0.986307,4.560506,2.073650,0.347830,6.875844,3.659099,5.994000,0.582380,0.306257,1.353071
1,2,53,75.00,31.25,NaN,NaN,NaN,NaN,3.902280,4.534496,...,7.472597,8.053643,2.906744,0.276783,9.585634,13.259906,8.501282,0.315660,0.224458,4.972050
2,2,60,74.75,31.50,NaN,NaN,NaN,NaN,4.475145,5.942981,...,1.450296,5.213764,2.766044,0.475440,8.924348,3.244717,6.406915,0.608223,0.270869,2.110724
3,2,61,75.00,31.50,NaN,NaN,NaN,NaN,4.730352,5.491628,...,1.966370,6.169707,2.941406,0.364122,9.496521,7.740416,6.634056,0.487570,0.235325,2.717962
4,2,62,75.25,31.50,NaN,NaN,NaN,NaN,4.954210,4.662692,...,3.359631,7.261928,4.189689,0.054668,12.204458,14.957551,8.135904,0.439665,0.164262,6.221113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,18,19,75.75,30.25,NaN,NaN,NaN,NaN,3.416143,3.646135,...,1.388497,7.945996,4.378918,0.000000,3.646806,3.288132,5.765584,1.017491,0.005562,1.445179
71,18,20,76.00,30.25,NaN,NaN,NaN,NaN,3.859663,1.751431,...,2.717189,6.862195,3.393701,0.033830,6.503594,6.455875,7.504949,0.869632,0.074488,3.087538
72,18,29,75.50,30.50,NaN,NaN,NaN,NaN,0.845562,1.358921,...,3.286305,4.793872,3.295513,0.000000,8.212548,4.034395,6.908857,1.851164,0.337052,0.884581
73,18,30,75.75,30.50,NaN,NaN,NaN,NaN,4.917675,2.260974,...,3.105711,5.156515,0.550448,0.000000,5.305318,1.825496,2.330568,1.015327,0.064138,0.142861
74,18,31,76.00,30.50,NaN,NaN,NaN,NaN,4.929562,2.810462,...,3.396217,5.337520,2.772603,0.005185,10.618946,8.851127,6.936213,1.477110,0.138663,2.802407